{% extends 'admin/adviser.html' %}
{% block content %}
<div class="col-xxl-12">
  <div class="panel animated swing">
      <div class="row text-center bg-dark text-light border-1">
        <div class="col-lg-4 col-sm-12">
          <h4>Student</h4>
        </div>
        <div class="col-lg-4 col-sm-12">
          <h4>Details</h4>
        </div>
        <div class="col-lg-4 col-sm-12">
          <h4>Hours Spent</h4>
        </div>
      </div><hr>
      {% for post in posts %}
      <div class="row text-center border border-1">
        <div class="col-lg-4 col-sm-12">
          <a href="#" data-toggle="modal" data-target="#cardmodal">{{ post['first_name'] }}</a>
        </div>
        <div class="col-lg-4 col-sm-12">
          <h5>{{ post['details'] }}</h5>
        </div>
        <div class="col-lg-4 col-sm-12">
          <h5>{{ post['hours_left'] }}</h5>
        </div>
      </div><hr>
      {% endfor %}
    <br>
  </div>
</div>

{% endblock %}

