<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="keyword" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Capstone Management System</title>
 
    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css">

      <!-- plugins -->
      <link rel="stylesheet" type="text/css" href="../static/linearicons/icons.css"/>
      <link rel="stylesheet" type="text/css" href="../static/css/plugins/simple-line-icons.css"/>
	    <link href="../static/css/style.css" rel="stylesheet">
	<!-- end: Css -->

  </head>

 <body id="mimin" class="dashboard">
      <!-- start: Header -->
        <nav class="navbar navbar-default header navbar-fixed-top" style="background-color: rgba(62,88,113);">
          <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
              <div class="opener-left-menu is-open" style="background-color: rgba(44,62,80);">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
              </div>
                <a href="{{ url_for('home') }}" class="navbar-brand"> 
                 <b>OJT Monsheet</b>
                </a>

              <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name"><span>{{ session['user_name'] }}</span></li>
                  <li class="dropdown avatar-dropdown">
                   <img src="../static/img/avatar.jpg" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                   <ul class="dropdown-menu user-dropdown animated swing">
                     <li><a href="{{ url_for('index') }}"><span class="lnr lnr-power-switch"></span> Logout</a></li>
                  </ul>
                </li>
              </ul>    
            </div>
          </div>
        </nav>
      <!-- end: Header -->

      <div class="container-fluid mimin-wrapper">
  
          <!-- start:Left Menu -->
            <div id="left-menu">
              <div class="sub-left-menu scroll" style="background-color: rgba(44,62,80);">
                  <ul class="nav nav-list">
                    <li class="time">
                      <h1 class="animated fadeInLeft">21:00</h1>
                      <p class="animated fadeInRight">Sat,June 1st 2021</p>
                    </li>
                    <li>
                        <a href="{{url_for('home')}}">
                          <span class="lnr lnr-home"></span>Dashboard
                        </a>
                      </li>
                      <li>
                        <a href="{{url_for('card')}}">
                          <span class="lnr lnr-users"></span>Reports
                        </a>
                      </li>
                      <li class="active">
                        <a href="{{url_for('data')}}">
                          <span class="lnr lnr-thumbs-up"></span>Students
                        </a>
                      </li>
                  </ul>
                </div>
            </div>
          <!-- end: Left Menu -->

  		
          <!-- start: content -->
            <div id="content">

                <div class="col-md-12" style="padding:20px;">
                    <div class="col-md-12 padding-0">
                        <div class="col-md-12 padding-0">
                <div class="col-md-12 padding-0">
                  <div class="panel box-shadow-none content-header">
                      <div class="panel-body">
                        <div class="col-md-12">
                            <h3 class="animated fadeInLeft"><span class="lnr lnr-user"></span> My Profile</h3>
                        </div>
                      </div>
                  </div>
                </div>
                <form method="post">
                            <div class="col-md-12 padding-0">
                                <div class="col-md-12">
                                    <div class="panel box-v1 animated tada">
                                      <div class="panel-body text-center">
                                        <div class="tab-pane" id="about">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="../static/img/default-avatar.png" / style="border-radius: 50px;"><br>
                                                        <input type="file">
                                                    </div>
                                                    <h6>Choose Picture</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">

                                            <div class="row">
                                            <div class="header text-left">
                                                    <h4>Profile Information</h4>
                                                </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control" name="first_name" id="first_name" value="{{ request.form['first_name'] or post['first_name'] }}"  required>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Middle Name</label>
                                                    <input type="text" class="form-control" placeholder="Smith...">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" name="last_name" id="last_name" value="{{ request.form['last_name'] or post['last_name'] }}" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Contact</label>
                                                    <input type="text" class="form-control" name="email_add" id="email_add" value="{{ request.form['email_add'] or post['email_add'] }}" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" name="contact_no" id="contact_no" value="{{ request.form['contact_no'] or post['contact_no'] }}" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Number of Hours</label>
                                                    <input type="number" class="form-control" name="hours" id="hours" value="{{ request.form['hours'] or post['hours'] }}" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Subject Code</label>
                                                    <select class="form-control" name="sub_code" value="{{ request.form['sub_code'] or post['sub_code'] }}">
                                                        <option>ITEL 304</option>
                                                        <option>ITEL 305</option>
                                                        <option>ITEL 306</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="header text-left">
                                                    <h4>Account</h4>
                                                </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Username</label>
                                                    <input type="text" class="form-control" name="user_name" id="user_name" value="{{ request.form['user_name'] or post['user_name'] }}" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" class="form-control" name="user_pass" id="user_pass" value="{{ request.form['user_pass'] or post['user_pass'] }}" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <button class="btn btn-md bg-info" type="submit" name="edit">Save Changes</button>
                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
      		  </div>
          <!-- end: content -->
            </div>  
          <!-- end: right menu -->
          
      </div>

      <!-- start: Mobile -->
      <div id="mimin-mobile" class="reverse">
        <div class="mimin-mobile-menu-list">
            <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft">
                <ul class="nav nav-list">
                    <li><div class="left-bg"></div></li>
                    <li class="time">
                      <h1 class="animated fadeInLeft">21:00</h1>
                      <p class="animated fadeInRight">Sat,June 1st 2021</p>
                    </li>
                    <li class="active ripple">
                      <a href="index.html">
                         <span class="lnr lnr-home"></span>Dashboard
                      </a>
                    </li>
                    <li class="ripple">
                      <a href="profile.html">
                         <span class="lnr lnr-user"></span>My Profile
                      </a>
                    </li>
                    <li class="ripple">
                      <a href="adviser.html">
                         <span class="lnr lnr-users"></span>Adviser
                      </a>
                    </li>
                    <li class="ripple">
                      <a href="group.html">
                         <span class="lnr lnr-users"></span>Group
                      </a>
                    </li>
                  </ul>
            </div>
        </div>       
      </div>
      <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
        <span class="fa fa-bars"></span>
      </button>
       <!-- end: Mobile -->

    <!-- start: Javascript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.ui.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    
    <!-- plugins -->
    <script src="../static/js/plugins/moment.min.js"></script>
    <script src="../static/js/plugins/jquery.nicescroll.js"></script>


     <script src="../static/js/main.js"></script>
     
  </body>
</html>